{% trans_default_domain 'damax-user' %}

{% set title = 'registration.header.register' | trans %}

{% extends '@DamaxUser/layout.html.twig' %}

{% form_theme form '@DamaxUser/form_theme.html.twig' %}

{% block content %}
    <p class="subtitle has-text-grey">{{ 'registration.message.intro' | trans }}</p>

    <form class="box" method="post" action="{{ path('registration') }}">
        {{ form_widget(form) }}

        <button class="button is-info is-large is-fullwidth">{{ 'button.register' | trans }}</button>
    </form>

    <p class="has-text-grey">
        <a href="{{ path('security_login') }}">{{ 'button.login' | trans }}</a>
    </p>
{% endblock %}
