{% trans_default_domain 'damax-user' %}

{% extends '@DamaxUser/Profile/layout.html.twig' %}

{% block content %}
    <h1 class="title">{{ user.mobilePhone }}</h1>
    <h2 class="subtitle">{{ user.email }}</h2>
    <div class="content">
        <p>
            {% if user.fullName %}{{ user.fullName }}<br>{% endif %}

            {{ user.timezone }}<br>
            {{ user.locale | upper }}
        </p>
    </div>

    <a class="button is-info" href="{{ path('profile_edit') }}">{{ 'profile.button.edit' | trans }}</a>
{% endblock %}
