{% trans_default_domain 'damax-user' %}

{% set title = 'security.header.login' | trans %}

{% extends '@DamaxUser/layout.html.twig' %}

{% block content %}
    <p class="subtitle has-text-grey">{{ 'security.message.login' | trans }}</p>

    {% for message in app.flashes('success') %}
        <div class="notification is-success">{{ message }}</div>
    {% endfor %}

    {% if error %}
        <div class="notification is-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="box" method="post" action="{{ path('security_check') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="field">
            <div class="control">
                <input class="input is-large"
                       type="email"
                       name="_username"
                       value="{{ last_username }}"
                       placeholder="{{ 'security.label.email' | trans }}"
                       required autofocus>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input is-large"
                       type="password"
                       name="_password"
                       placeholder="{{ 'security.label.password' | trans }}"
                       required>
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" name="_remember_me"> {{ 'security.label.remember_me' | trans }}
            </label>
        </div>

        <button class="button is-info is-large is-fullwidth">{{ 'button.login' | trans }}</button>
    </form>

    <p class="has-text-grey">
        <a href="{{ path('registration') }}">{{ 'button.registration' | trans }}</a> &nbsp;·&nbsp; <a href="{{ path('password_reset_request') }}">{{ 'button.forgot_password' | trans }}</a>
    </p>
{% endblock %}
