{% block subject %}Registration complete{% endblock %}

{% block html %}
<p>You have been registered with the following details:</p>
<ul>
    <li>Email: {{ user.email }}</li>
    <li>Mobile: {{ user.mobilePhone }}</li>
    <li>Full name: {{ user.name | user_format_name | default('-') }}</li>
</ul>
{% endblock %}

{% block text %}
You have been registered with the following details:

Email: {{ user.email }}
Mobile: {{ user.mobilePhone }}
Full name: {{ user.name | user_format_name }}
{% endblock %}
